# Pointer to exactly where Django is hosted (e.g., https://api.altresume.com)
NEXT_PUBLIC_API_URL="http://localhost:8000"

# OAUTH Google Client
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-oauth-client-id.apps.googleusercontent.com"
